.env
src/nginx/logs/access.log
src/grafana/config/loki_data
.env copy
secrets/grafana_admin_password.txt
secrets/postgres_db.txt
secrets/postgres_password.txt
.gitignore
.gitignore
secrets/postgres_user.txt
.env
.env
