{
 	servers {
            metrics
    }
	log {
		output file /var/log/caddy/caddy_main.log {
			roll_size 100MiB
			roll_keep 5
			roll_keep_for 100d
		}
		format json
		level INFO
	}
}

:80 {
	log {
		output file /var/log/caddy/access.log
		format json
	}

	root * /usr/share/caddy
	file_server

	@static {
		path /static/*
	}
	handle @static {
		root * /usr/share/caddy/static
		file_server
	}

	@api {
		path /api/*
	}
	handle @api {
		reverse_proxy backend:8000
	}

	@ws {
		path /ws/*
	}
	handle @ws {
		reverse_proxy backend:8001
	}

	@media {
		path /media/*
	}
	handle @media {
		reverse_proxy backend:8000
	}
}
# localhost:443 {

#     tls internal

#     # Alle API-Anfragen an das Backend
#     @api path /api/*
#     reverse_proxy @api backend:8000

#     # Alle WebSocket-Anfragen an den entsprechenden Service
#     @ws path /ws/*
#     reverse_proxy @ws backend:8001

#     # Alle Media-Anfragen
#     @media path /media/*
#     reverse_proxy @media backend:8000

#     # Restliche Anfragen (statische Dateien & SPA)
#     handle {
#         root * /usr/share/caddy/html
#         try_files {path} /index.html
#         file_server
#     }
# }
