{
	log {
		output file /var/log/caddy/caddy_main.log {
			roll_size 100MiB
			roll_keep 5
			roll_keep_for 100d
		}
		output stdout
		format json
		level INFO
	}
}

:80 {
	log {
		output file /var/log/caddy/access.log {
			roll_size 100MiB
			roll_keep 5
			roll_keep_for 100d
		}
        output stdout
        format json
		level INFO
	}

	root * /usr/share/caddy
	file_server

	@static {
		path /static/*
	}
	handle @static {
		root * /usr/share/caddy/static
		file_server
	}

	@blockchain {
		path /blockchain/*
	}
	handle @blockchain {
		reverse_proxy backend:8000
	}

	@api {
		path /api/*
	}
	handle @api {
		reverse_proxy backend:8000
	}

	@ws {
		path /ws/*
	}
	handle @ws {
		request_header Host {host}
		request_header X-Real-IP {remote}
		request_header X-Forwarded-For {remote}
		request_header X-Forwarded-Proto {scheme}
		request_header Connection "upgrade"
		request_header Upgrade "websocket"
		
		reverse_proxy game:8001
	}

	@ws_django {
    	path /ws_django/chat/*
	}
	handle @ws_django {
    	reverse_proxy backend:8000
	}

	@media {
		path /media/*
	}
	handle @media {
		reverse_proxy backend:8000
	}
	
	redir /grafana /grafana/

	handle /grafana/* {
   	    reverse_proxy grafana:3000 {
			header_up Host {host}
			header_up X-Forwarded-For {remote}
			header_up X-Forwarded-Proto {scheme}
    	}
	}

	#the alertmanager emails have links on them but I am behind a reverse proxy
	# redir /alertmanager /alertmanager/
	
	# handle /alertmanager/* {
	# 	   	    reverse_proxy alertmanager:9093 {
	# 		header_up Host {host}
	# 		header_up X-Forwarded-For {remote}
	# 		header_up X-Forwarded-Proto {scheme}
	# 	}
	# }	

	metrics /metrics
}





# localhost:443 {

#     tls internal

#     # Alle API-Anfragen an das Backend
#     @api path /api/*
#     reverse_proxy @api backend:8000

#     # Alle WebSocket-Anfragen an den entsprechenden Service
#     @ws path /ws/*
#     reverse_proxy @ws backend:8001

#     # Alle Media-Anfragen
#     @media path /media/*
#     reverse_proxy @media backend:8000

#     # Restliche Anfragen (statische Dateien & SPA)
#     handle {
#         root * /usr/share/caddy/html
#         try_files {path} /index.html
#         file_server
#     }
# }
